{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}
{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Crée une nouvelle annonce</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Information génerales</h2>
                    <hr>
                    {{ form_row(form.title) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.rooms) }}
                </div>
                <div class="alert alert-light">
                    <h2>Détail de l'annonce</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.content) }}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2>Image de l'annonce</h2>
                    <hr>
                    {{ form_row(form.converImage) }}
                    {{ form_row(form.images) }}
                </div>
            </div>
        </div>
        <div class="alert alert-success clearfix">
            <p>Vous allez crée votre annonce</p>
            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-check"></i> Crée la nouvelle annonce</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _annonce_slug_row %}

{% endblock %}

{% block javascripts %}
    <script src="/js/annonce.js"></script>
{% endblock %}